<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588932912074-1cmog0rcn6uk1bqbtllpj97qiphgmf5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588932912074-1cmog0rcn6uk1bqbtllpj97qiphgmf5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588932912074-bckhbs7p23taauldncrvv91a8e2pqlqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHsyEcY_tIiWFU-B8ZhcF8EstFpsGAeo</string>
	<key>GCM_SENDER_ID</key>
	<string>588932912074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htf.htf</string>
	<key>PROJECT_ID</key>
	<string>htf-app</string>
	<key>STORAGE_BUCKET</key>
	<string>htf-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588932912074:ios:ddf6aa10e0d20688d73533</string>
	<key>DATABASE_URL</key>
	<string>https://htf-app.firebaseio.com</string>
</dict>
</plist>